* {
    margin: 0;
    padding: 0;
}
body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    color: #FF69B4;
    margin-top: 40px;
    border-bottom: 5px dashed #800080;
    margin-bottom: 20px;
}
.hobby {
    color: #999999;
    margin: 15px 0;
}
.content {
    color: #333333;
}
.ambition {
    color: #333333;
    font-style: italic;
}
.box {
    margin-left: 2px;
    width: 300px;

}
.goal {
    color: green;
}
.heading {
    margin-left: 2px;
    padding: 30px;
    border-color: violet;
    border: 4px solid purple;
    background-color: #fefbfa;
    font-family: Arial, Helvetica, sans-serif;
}
.web-span {
    color: #F97A5D;
}
